/* Base Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #000639 0%, #1C267D 100%);
    color: #FFFFFF;
}

/* Container for Ellipses */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Ellipse Styles */
.ellipse {
    position: absolute;
    width: 20vmin;
    height: 30vmin;
    background: #b0b0f3;
    filter: blur(150px);
    border-radius: 50%;
}

.ellipse-1 {
    left: 70vw;
    top: -10vh;
}

.ellipse-2 {
    left: -10vw;
    top: 10vh;
}

.ellipse-3 {
    left: 70vw;
    top: 90vh;
}

.ellipse-4 {
    left: -10vw;
    top: 60vh;
}

.ellipse-5 {
    left: 10vw;
    top: 150vh;
}

.ellipse-6 {
    left: 70vw;
    top: 200vh;
}

.ellipse-7 {
    left: 30vw;
    top: -20vh;
}

.ellipse-8 {
    left: 90vw;
    top: 30vh;
}

.ellipse-9 {
    left: 30vw;
    top: 110vh;
}

.ellipse-10 {
    left: 90vw;
    top: 80vh;
}

.ellipse-11 {
    left: 50vw;
    top: 210vh;
}

.ellipse-12 {
    left: 90vw;
    top: 250vh;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .ellipse {
        width: 25vmin;
        height: 25vmin;
    }

    .ellipse-1 {
        left: 60vw;
        top: -5vh;
    }

    .ellipse-2 {
        left: -5vw;
        top: 5vh;
    }

    .ellipse-3 {
        left: 60vw;
        top: 80vh;
    }

    .ellipse-4 {
        left: -5vw;
        top: 55vh;
    }

    .ellipse-5 {
        left: 5vw;
        top: 140vh;
    }

    .ellipse-6 {
        left: 60vw;
        top: 190vh;
    }

    .ellipse-7 {
        left: 25vw;
        top: -15vh;
    }

    .ellipse-8 {
        left: 85vw;
        top: 25vh;
    }

    .ellipse-9 {
        left: 25vw;
        top: 100vh;
    }

    .ellipse-10 {
        left: 85vw;
        top: 70vh;
    }

    .ellipse-11 {
        left: 45vw;
        top: 200vh;
    }

    .ellipse-12 {
        left: 85vw;
        top: 240vh;
    }
}

@media (max-width: 768px) {
    .ellipse {
        width: 20vmin;
        height: 20vmin;
    }

    .ellipse-1 {
        left: 50vw;
        top: 0;
    }

    .ellipse-2 {
        left: -5vw;
        top: 0;
    }

    .ellipse-3 {
        left: 50vw;
        top: 70vh;
    }

    .ellipse-4 {
        left: -5vw;
        top: 50vh;
    }

    .ellipse-5 {
        left: 0;
        top: 130vh;
    }

    .ellipse-6 {
        left: 50vw;
        top: 180vh;
    }

    .ellipse-7 {
        left: 20vw;
        top: -10vh;
    }

    .ellipse-8 {
        left: 80vw;
        top: 20vh;
    }

    .ellipse-9 {
        left: 20vw;
        top: 90vh;
    }

    .ellipse-10 {
        left: 80vw;
        top: 60vh;
    }

    .ellipse-11 {
        left: 40vw;
        top: 190vh;
    }

    .ellipse-12 {
        left: 80vw;
        top: 230vh;
    }
}

@media (max-width: 480px) {
    .ellipse {
        width: 15vmin;
        height: 15vmin;
    }

    .ellipse-1 {
        left: 40vw;
        top: 0;
    }

    .ellipse-2 {
        left: -5vw;
        top: 0;
    }

    .ellipse-3 {
        left: 40vw;
        top: 60vh;
    }

    .ellipse-4 {
        left: 0;
        top: 40vh;
    }

    .ellipse-5 {
        left: 0;
        top: 120vh;
    }

    .ellipse-6 {
        left: 40vw;
        top: 170vh;
    }

    .ellipse-7 {
        left: 15vw;
        top: -5vh;
    }

    .ellipse-8 {
        left: 75vw;
        top: 15vh;
    }

    .ellipse-9 {
        left: 15vw;
        top: 80vh;
    }

    .ellipse-10 {
        left: 75vw;
        top: 50vh;
    }

    .ellipse-11 {
        left: 35vw;
        top: 180vh;
    }

    .ellipse-12 {
        left: 75vw;
        top: 220vh;
    }
}


/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    padding-right: 10%;
}

.logo img {
    width: 142.6px;
    height: 91.95px;
}

nav a {
    color: #E0E0E0;
    text-decoration: none;
    margin-left: 50px;
    font-size: 15px;
}

/* Main Content Styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px 100px;
}

.background {
    z-index: -99;
    background: url('./image/background.svg') no-repeat center center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px 100px;
}

.background2 {
    z-index: -99;
    background: url('./image/background2.svg') no-repeat center center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px 100px;
}



h1,
h2,
h3 {
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    margin-bottom: 100px;
}

.heading {
    padding-top: 200px !important;
}

/* Contact Section Styles */
.contact-container {
    display: flex;
    justify-content: space-between;
}

.message-section,
.form-section {
    width: 45%;
}

.message-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.privecy-section {
    width: 90%;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
}

form textarea {
    height: 150px;
    resize: vertical;
}

button {
    background: rgb(15,15,15);
    border: 1px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: slideIn 0.5s ease-out 0.7s both, glow 2s infinite;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

button:hover {
    background: #FFFFFF;
    color: rgb(15,15,15);
}

/* Footer Styles */
footer {
    background: linear-gradient(90deg, #000000 0%, #1C267D 100%);
    padding: 40px 77px;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}

.newsletter h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.newsletter p {
    font-size: 15px;
    margin-bottom: 20px;
}

.newsletter form {
    display: flex;
    align-items: center;
}

.newsletter input {
    width: 384px;
    height: 43px;
    padding: 10px 10px 10px 44px;
    border: none;
    border-radius: 10px;
    background: #EAECF0;
    font-size: 16px;
}

.footer-links {
    font-size: 14px;
    color: #CDCDCD;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
}

/* Content Section */
.content {
    text-align: center;
}

.content h1 {
    padding: 100px 0 0;
    margin: 0 0 20px;
}

.buttons,
.add-to-chrome,
.free-trial {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.free-trial {
    margin: 20px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.benefits {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, sans-serif;
}



.benefits-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.benefit-item {
    background-color: rgb(15,15,15);
    padding: 10%;
    border-radius: 8px;
}

.benefit-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
}

.benefit-item h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.benefit-item p {
    font-size: 0.9rem;
    line-height: 1.4;
}

.pricing-container {
    color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
    font-family: Arial, sans-serif;
}

.pricing-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}


.pricing-cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.pricing-card {
    background-color: rgb(255, 255, 255);
    color: rgb(15,15,15);
    border-radius: 10px;
    padding: 4%;
    width: 30%;
    position: relative;
    margin: 1%;
}

.pricing-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.price-subtitle {
    font-size: 0.8rem;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 1%;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 3%;
    position: relative;
    padding-left: 1.5rem;

}

li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #000080;
}

.sign-up {
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    border-color: rgb(15,15,15);
}

.popular {
    background-color: #666;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    font-size: 0.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}



.testimonial-section {
    color: #fff;
    text-align: center;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
}


.testimonial-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.testimonial {
    background: rgb(15,15,15);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    max-width: 45%;
    text-align: left;
    flex: 1;
}


.client-info {
    display: flex;
    align-items: center;
}

.client-info img {
    border-radius: 50%;
    margin-right: 15px;
}

.client-info div {
    text-align: left;
}

.client-info strong {
    font-size: 18px;
    display: block;
}

.client-info span {
    font-size: 14px;
    color: #ddd;
}

img{
    height: 30px;
    width: 30px;
}
.google{
    height: 55px;
    width: 200px;
}


/* Additional styles for login page */
.form-options {
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.forgot-password {
    color: #bfbaff;
}

.btn-google {
    background-color: rgb(15,15,15);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adjust existing styles */
.contact-container {
    border-radius: 10px;
    overflow: hidden;
}

.message-section, .form-section {
    padding: 40px;
}


.form-section form button {
    margin-bottom: 15px;
}
/* Frame 1 */
.frame {
    position: relative;
    width: 1440px;
    height: 3987px;
    background: #0D134F;
}

/* Ellipse Styles */
.ellipse {
    position: absolute;
    width: 730px;
    height: 730px;
    background: #1C267D;
    filter: blur(150px);
}

.ellipse-1 { left: 930px; top: -144px; }
.ellipse-2 { left: -469px; top: 117px; }
.ellipse-3 { left: 909px; top: 1232px; }
.ellipse-4 { left: -286px; top: 867px; }
.ellipse-5 { left: -99px; top: 2291px; }
.ellipse-6 { left: 906px; top: 2932px; }

/* Header */
.header {
    position: absolute;
    width: 849px;
    height: 68px;
    left: calc(50% - 849px/2 + 7.5px);
    top: 171px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
}

/* Content */
.content {
    position: absolute;
    width: 800px;
    left: calc(50% - 400px);
    top: 300px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.content h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}

.content p, .content ul {
    margin-top: 10px;
}

/* Footer */
.footer {
    position: absolute;
    height: 341px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(90deg, #000000 0%, #1C267D 100%);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #CDCDCD;
}

.footer p {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer a {
    color: #CDCDCD;
    text-decoration: none;
}


